body{
background-color: rgb(37, 2, 163);
color: rgb(0, 0, 0);
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
   background-color: rgb(140, 127, 255);
color: rgb(247, 247, 194);
text-align: justify;
padding: 0cqb;

}

h1 {
    font-size: medium;
}

h2 {
    color: rgb(25, 29, 27);
}

p {
    font-size: medium;
    line-height: 0cm;
}